.bannerSection {
  height: 60vh;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vh;
  margin-bottom: 2vh;
  overflow: hidden;
  border-radius: 1vw;
  margin-top: 4vw;
}

.bennerImageBox {
  height: 100%;
  width: 100%;
}

.bannerImage {
  height: 100%;
  width: 100%;
  border-radius: 1vw;
}

@media (max-width: 768px) {
  .bannerSection {
    height: 20vh;
    margin-top: 18vh;
  }
}
